#root {
  max-width: auto;
  margin: 0 auto;
  padding: 0;
  background-color: var(--bs-gray-100);
}

/* Fixes the navbar to the top of the page */
.custom-navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}

