.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 50px;
  }

  .custom-button1-style {
    width: auto;
    border: none;
    padding: 10px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: linear-gradient(30deg, #FFFFFF, var(--bs-primary));
    cursor: pointer;
  }

  .custom-button1-style::before {
    content: "";
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 4px;
    background-color: var(--bs-secondary);
    z-index: -1;
    transition: 200ms
  }

  .custom-button1-style::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, #00FFA3, #DC1FFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 200ms
  }
  .custom-button1-style:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .custom-button1-style:hover::after{
    color: white;
  }