/* src/layouts/dashboard/dashboard.css */





/* Ensure table headers are not bold for the default Bootstrap `th` */
.table thead th {
    font-weight: normal; /* Override Bootstrap's default bold */
}


/* Specific styling for the input group icon */
.input-group-text {
  background-color: #fff;
  border-left: none;
}