#root {
  max-width: auto;
  margin: 0 auto;
  padding: 0;
  padding-top: 45px;
  text-align: center;

  @media (min-width: 992px) {
    padding-top: 75px;
  }
}

/* Fixes the navbar to the top of the page */
.custom-navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}

