@font-face {
  font-family: 'impact_font';
  src: url("../../assets/fonts/impact.ttf") format('truetype');
}

.custom-container {
  /* background-color: white; */
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
}


.brand-text {
  width: auto;
  font-size: 1.25rem;
  font-family: 'impact_font';
  font-weight: bold;
  color: var(--bs-primary);

  @media (min-width: 992px) {
    font-size: 2.5rem; /* override on large screens */
  }
}

.custom-margin-left2 {
  margin-left: 80px;

  @media (min-width: 1190px) {
    margin-left: 200px;
  }
}

.custom-margin-left1 {
  margin-left: 80px;

  @media (min-width: 1190px) {
    margin-left: 200px;
  }
}

.nav-signin-button.active {
  background-color: var(--bs-white);
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}


